<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300&display=swap');
        </style>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        

    </head>
    <body>
        <a href="https://njit.instructure.com/courses/16250"><h1>THIS IS CS490 HW7!</h1></a>
        <b>{{date}}</b>
        <h2> Hello class! </h2>
        <h2>{{ professor }}</h2>
        <h3 class=project_1>Project 1 Milestone 2 is due on February 15th!</h3>
        <h2> It's me Jerard! Did my debug = True commit merge correctly?</h2>
        <h3> It's me Jerard! Did my debug = True commit merge correctly?</h3>
        <h4>Anime is great!</h4>
        <img src = 'https://pbs.twimg.com/profile_images/1053055123193122816/IUwo6l_Q_400x400.jpg' />
        <h4>Bitcoin is the future!</h4>
        <h2>If you're readind this, I commited to my branch correctly JG</h2>
        <h3>This is a random number between 1 and 10 -> {{number}}</h3>
        <p> <b class="Kilroy">Kilroy was here oUo </b></p>
        <h4>Julio's favorite Films/shows/anime:</h4>
        {%for i in range(0, 5)%} 
            {% if i == 0 %}
                <li class = "special"> {{my_shows_list[i]}} <img src="{{my_pic_list[i]}}"> </li>
            {% else %}
                <li> {{my_shows_list[i]}} <img src="{{my_pic_list[i]}}"> </li>
            {% endif %}
        {%endfor%}
        
        <p>Dom here. I have seen none of the previous shows. Thanks for the recs!</p>

        <p>&#128512;</p>
        
        <div class="importantVideo">
        <iframe width="1000" height="800" src="https://www.youtube.com/embed/_o7qjN3KF8U" frameborder="0" allowfullscreen></iframe>
        </div>
        
        <!--- important song -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ty-CHgmCeKw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span class="back">
          <span>N</span>
          <span>a</span>
          <span>i</span>
          <span>t</span>
          <span>a</span>
          <span>m</span>
        </span>
        <h2 class="vs">This class is fun</h2>
        <a href="https://www.youtube.com/watch?v=azFCwNjWP0g" title="Checkout Professor Agrawal's Website @ namanagrawal.me">
             <img src="https://namanagrawal.me/images/picofme.jpg" height="400px" width="400px" class="prof">
        </a>
        
        <p class="confusion" style="color: {{colour_name}};"> 
            {{ color_name }} {{ color_name }} {{ color_name }} <br/> 
            {{ color_name }} {{ color_name }} {{ color_name }}<br/> 
            {{ color_name }} <del>{{ color_name }}</del> {{ color_name }}<br/> 
            {{ color_name }} {{ color_name }} {{ color_name }}<br/> 
            {{ color_name }} {{ color_name }} {{ color_name }}<br/>
        </p>
        
        <style>
        .footer {
            height: 100%;
            position: fixed;
            left: 0%;
            margin-left: -3px;
            top: 0;
            background-color: white;
            color: white;
            text-align: center;
        }
        </style>
        <!--feel free to add on your hot takes, I used imgflip.com and removed all the fluff from their Image HTML link (jz574)-->
        <div class="footer">
          <img src="https://i.imgflip.com/4xhhfv.jpg" height="200px" width="200px" ><br>
          <img src="https://i.imgflip.com/4xhlen.jpg" height="200px" width="200px" ><br>
          <img src="https://i.imgflip.com/4xhluj.jpg" height="200px" width="200px" ><br>
          <img src="https://i.imgflip.com/4xhn0p.jpg" height="200px" width="200px" ><br>
          <img src="https://i.imgflip.com/4xhorb.jpg" height="200px" width="200px" ><br>
          <img src="https://i.imgflip.com/4xhpv0.jpg" height="200px" width="200px" ><br>
        </div>
    </body>
</html>